.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.title {
  text-align: center;
}
.line {
  border: solid;
  border-radius: 10px;
  margin-top: 4px;
  text-align: center;
}
.card-container {
  border: solid;
  border-radius: 18px;
  min-width: 200px;
}
.card-body {
  background-color: rgba(49, 137, 219, 0.63);
}
.father-tem-icon {
  max-height: 120px;
}
.temperature {
  width: 50%;
  font-size: 60px;
  border-radius: 10px;
  text-align: center;
}
.icon-weather {
  width: 50%;
}
.icon-weather-compon {
  width: 100%;
  height: 70%;
}
.description {
  padding: 10px;
  width: 50%;
  padding-left: 20px;
  box-sizing: border-box;
}
.sub-title {
  font-size: 15px;
}
.contents {
  font-size: 19px;
}
.humidity {
  padding: 10px;
  box-sizing: border-box;
  width: 50%;
}
.button {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
